{
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "trailingComma": "es5",
  "tabWidth": 4,
  "useTabs": false,
  "jsxBracketSameLine": true,
  "arrowParens": "always",
  "endOfLine": "auto"
}