body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "tnum" on, "lnum" on;
    background-color: #f6f6f6;
    font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0
}

@media screen {
    *,
    :after,
    :before {
        box-sizing: border-box
    }

    .charts {
        height: 100%;
        width: 100%;
        position: relative;
    }

}

#root {
    height: 100vh;
}

.grid-layout {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}

.tv-lightweight-charts {
    border: 1.5px solid #e1e1e1;
}

.grid-area,
.grid-item {
    height: 100%;
    width: 100%;
}

.tabs {
    cursor: pointer;
    margin-left: 10px;
    margin-top: 5px;
    max-height: calc(100% - 50px);
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    z-index: 100;
}

.tabs::-webkit-scrollbar {
    height: 0
}

.tabs {
    scrollbar-color: transparent transparent
}

.tabs .labels {
    background-color: hsla(0, 0%, 100%, .85);
    border-radius: 5px;
    overflow: hidden;
    padding: 5px
}

.tabs .btn {
    align-items: center;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 3px;
    bottom: 0;
    display: flex;
    justify-content: center;
    max-height: 16px;
    max-width: 20px;
    min-height: 16px;
    min-width: 20px;
    position: sticky
}

.tabs .btn:hover {
    background-color: #f8f8ff;
    border-color: #d1d4dc
}

.tabs .searchs {
    margin-bottom: 5px
}

.tabs .chartsearch {
    border: 1px solid #d5d8dc;
    border-radius: 3px;
    font-family: Courier;
    font-size: 13px;
    height: 19px;
    outline: none;
    padding-left: 8px;
    width: 65px
}

.tabs .label-item {
    border: 1px solid transparent;
    margin-bottom: 5px;
    padding-right: 5px
}

.tabs .label-item:hover {
    background-color: #fff;
    border-color: #d1d4dc;
    border-radius: 3px
}

.tabs .label-item:last-child {
    margin-bottom: 0
}

.tabs .label {
    align-items: center;
    display: flex
}

.tabs .cube,
.tooltip .cube {
    border-radius: 2px;
    display: flex;
    height: 6px;
    margin: 5px;
    width: 6px
}

.tabs .name {
    display: flex;
    font-family: Courier;
    font-size: 13px;
    font-weight: 400;
    padding: 2px;
    text-decoration: none;
    white-space: nowrap
}

.tabs .hide-chart {
    color: #a9a9a9;
    text-decoration: line-through
}

.tabs .unshow-label {
    display: none
}

.tabs .svg-rotate {
    transform: rotate(180deg)
}

.hidden {
    display: none
}

.lineSeriesTooltip {
    position: fixed;
    display: inline;
    opacity: 0;
    text-align: left;
    background-color: #fff;
    border: 1px solid #d1d4dc;
    border-radius: 5px;
    padding: 2px;
    z-index: 10;
    pointer-events: none;
    font-family: Courier;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    white-space: nowrap;
}

.lineSeriesTooltip .tooltip {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.react-grid-item  {
    width: 100%;
}

.react-resizable-handle {
    padding: 0 5px 5px 0 !important;
}

.react-grid-item.react-grid-placeholder {
    background: #1068bf !important;
}
.react-grid-item > .react-resizable-handle::after {
    right: 5px;
    bottom: 5px;
}